/*-------------------------------------------TAG SELECTORS------------------------------------*/

body{
	background-color: powderblue;
	/*font-family: impact,charcoal,sans-serif;*/
	font-family: "Comic Sans MS",Cursive,sans-serif;
	margin: .5em 2em .5em 2em;
}
	

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 30%;
}
/*-------------------------------------------CLASS SELECTORS------------------------------------*/

.heading{
	padding: none;
	font-size: 30px;
	color: #66bfbf;
	font-family: impact,charcoal,sans-serif;
}


.main-header{
	color: #66bfbf;
	font-family: impact,charcoal,sans-serif;
	font-size: 25px;
}


img{
	opacity: 100%;
}


.footer{
	color: #66bfbf;
	font-family: impact,charcoal,sans-serif;
}


.content{
	font-size: 23px;
}